<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div id="container" *ngIf="rainProbability">
    <ion-item lines="none">
      <div class="parasol-image-center">
        <ion-img [src]="'assets/umbrella-150.png'"></ion-img>
      </div>
    </ion-item>

    <strong class="capitalize">
      <span>{{ rainStatus }}</span>
      <span>({{rainProbability}}%)</span>
      <span *ngIf="rainProbability > 0"> za {{hoursToRain}}h</span>
    </strong>
    <p> {{ rainCommand }}</p>
  </div>
</ion-content>
