<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-avatar class="user-avatar" slot="end" *ngIf="(pictureUrl$ | async) as pictureUrl">
      <img [src]="pictureUrl" alt="user-avatar">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="in-the-middle" *ngIf="rainProbability >= 0">
    <ion-item lines="none">
      <div class="parasol-image-center">
        <ion-img [src]="'assets/umbrella-150.png'"></ion-img>
      </div>
    </ion-item>

    <strong class="capitalize">
      <span>{{ rainStatus }}</span>
      <span>({{rainProbability}}%)</span>
      <span *ngIf="rainProbability > 0"> za {{hoursToRain}}h</span>
    </strong>
    <p> {{ rainCommand }}</p>
  </div>
</ion-content>
